body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.loader {
  position: absolute;
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    height: auto;
    width: 5rem;
  }

  svg {
    animation: Loader-spin infinite 20s linear;
  }

  @keyframes Loader-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}